<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">


    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>andy.com.demo.httpservlet.SimpleServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>andy.com.demo.httpservlet.WelcomeServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>



    <!-- Dispatcher test forward jsp-->
    <servlet>
        <servlet-name>SimpleDispacher</servlet-name>
        <servlet-class>andy.com.demo.httpservlet.SimpleServletDispatcher</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleDispacher</servlet-name>
        <url-pattern>/dispacher</url-pattern>
    </servlet-mapping>


    <!-- ServletContext Listener-->
    <servlet>
        <servlet-name>ListenerServlet</servlet-name>
        <servlet-class>andy.com.demo.listener.ListenerServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListenerServlet</servlet-name>
        <url-pattern>/listenerServlet</url-pattern>
    </servlet-mapping>



    <context-param>
        <param-name>testInitContextParams</param-name>
        <param-value>testInitContextParams1</param-value>
    </context-param>

    <listener>
        <listener-class>andy.com.demo.listener.ServletContextListenerImpl</listener-class>
    </listener>

    <!-- filter -->
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>andy.com.demo.filter.LoggingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>logFileName</param-name>
            <param-value>log.log</param-value>
        </init-param>
        
        <init-param>
            <param-name>prefix</param-name>
            <param-value>URI:</param-value>
        </init-param>
    </filter>
    
    
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    

    <!--?????? ????-->
    <welcome-file-list>
        <welcome-file>dispacher</welcome-file>
    </welcome-file-list>


    <!--async -->
    <servlet>
        <servlet-name>Async</servlet-name>
        <servlet-class>andy.com.demo.async.AsyncServlet</servlet-class>
        <!-- ???? -->
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>Async</servlet-name>
        <url-pattern>/async</url-pattern>
    </servlet-mapping>


</web-app>
